_violet = #6b5b95

.root
  flex 1
  background-color _violet

  +tablet()
    padding 0 4u
  
.main
  align-self center
  flex 1
  width 344px

  +tablet()
    width 100%

  +desktop()
    max-width 1024px

  +wide()
    max-width 1194px
